doctype html
block content
  html
    head
      title Gulp Workflow...
      link(rel="stylesheet", href="css/styles.css")
    body
      #root.container
        h1 Top Heading
        p Hello People!

      mixin paragraph
        p Hello Paragraph!
      
      mixin paragraph2(myContent)
        p= myContent

      +paragraph2('How are things going?')

      hr
      section(style={border: '1px solid #000', padding: '10px'})
        aside Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, quo!